In [3]:
import matplotlib.pyplot as plt

In [ ]:
# !pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.9.4-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: python-dateutil>=2.7 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Collecting kiwisolver>=1.3.1
  Using cached kiwisolver-1.4.7-cp39-cp39-win_amd64.whl (55 kB)
Collecting pillow>=8
  Using cached pillow-11.3.0-cp39-cp39-win_amd64.whl (7.0 MB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.59.1-cp39-cp39-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 10.8 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib) (25.0)
Collecting importlib-resources>=3.2.0
  Using cached importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Collecting pyparsing>=2.3.1
  Using cached pyparsing-3.2.3-py3-none-any.whl (111 kB)
Requirement already satisfied: numpy>=1.23 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib) (2.0.2)
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.3.0-cp39-cp39-win_amd64.whl (211 kB)
Requirement already satisfied: zipp>=3.1.0 in b:\projects\the-world-trade\venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.23.0)
Requirement already satisfied: six>=1.5 in b:\projects\the-world-trade\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.59.1 importlib-resources-6.5.2 kiwisolver-1.4.7 matplotlib-3.9.4 pillow-11.3.0 pyparsing-3.2.3

WARNING: You are using pip version 22.0.4; however, version 25.2 is available.
You should consider upgrading via the 'B:\Projects\the-world-trade\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [ ]:
# !pip install pandas numpy seaborn

Requirement already satisfied: pandas in b:\projects\the-world-trade\venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy in b:\projects\the-world-trade\venv\lib\site-packages (2.0.2)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in b:\projects\the-world-trade\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in b:\projects\the-world-trade\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in b:\projects\the-world-trade\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in b:\projects\the-world-trade\venv\lib\site-packages (from seaborn) (3.9.4)
Requirement already satisfied: pillow>=8 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: importlib-resources>=3.2.0 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.5.2)
Requirement already satisfied: packaging>=20.0 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: contourpy>=1.0.1 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: kiwisolver>=1.3.1 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: fonttools>=4.22.0 in b:\projects\the-world-trade\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.59.1)
Requirement already satisfied: six>=1.5 in b:\projects\the-world-trade\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: zipp>=3.1.0 in b:\projects\the-world-trade\venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.23.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

WARNING: You are using pip version 22.0.4; however, version 25.2 is available.
You should consider upgrading via the 'B:\Projects\the-world-trade\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_raw = pd.read_csv("world_trade_synth_fast.csv")

In [7]:
df_raw.head(10)

,year,reporter_iso3,partner_iso3,product_code,distance_km,fta_active,adval_tariff_pct,reporter_gdp_bln,partner_gdp_bln,reporter_pop_m,partner_pop_m,reporter_cpi,partner_cpi,export_value_usd_mln,quantity_tonnes,unit_price_usd_per_tonne
0,1975,USA,DZA,AGRI,5273.4,0,9.23,180.484,443.922,48.765,10.598,51.95,53.25,1.703,58.330,29191.463644
1,1975,USA,DZA,ENER,5273.4,0,14.81,180.484,443.922,48.765,10.598,51.95,53.25,2.213,75.814,29191.463644
2,1975,USA,DZA,META,5273.4,0,9.57,180.484,443.922,48.765,10.598,51.95,53.25,0.883,30.262,29191.463644
3,1975,USA,DZA,CHEM,5273.4,0,9.15,180.484,443.922,48.765,10.598,51.95,53.25,4.917,168.447,29191.463644
4,1975,USA,DZA,MACH,5273.4,0,3.99,180.484,443.922,48.765,10.598,51.95,53.25,15.236,521.919,29191.463644
5,1975,USA,MAR,AGRI,6073.4,0,9.23,180.484,145.029,48.765,41.568,51.95,53.44,0.511,17.498,29191.463644
6,1975,USA,MAR,ENER,6073.4,0,14.81,180.484,145.029,48.765,41.568,51.95,53.44,0.691,23.684,29191.463644
7,1975,USA,MAR,META,6073.4,0,9.57,180.484,145.029,48.765,41.568,51.95,53.44,0.694,23.759,29191.463644
8,1975,USA,MAR,CHEM,6073.4,0,9.15,180.484,145.029,48.765,41.568,51.95,53.44,1.767,60.530,29191.463644
9,1975,USA,MAR,MACH,6073.4,0,3.99,180.484,145.029,48.765,41.568,51.95,53.44,0.830,28.439,29191.463644